{% extends "layouts/base.njk" %}
{% set pageCriticalStyles = ['critical/home.css'] %}
{# {% set pageStylesheets = ['../../css/demo.css] %} #}
{% set pageScripts = ['../../js/script.js'] %}

{% block content %}
    <section class="home-hero">
        <div class="container home-hero__inner">
            <div class="home-hero__heading-container" data-ultratype-group>
                <h2 class="home-hero__heading split-by-letter" data-delay="0.03">{{hero.heading}}</h2> 
                <h3 class="home-hero__subheading split-by-word"  data-delay="0.1">{{hero.subheading}}</h3>
            </div>
        </div>
    </section>
    <section class="splitting" data-background="dark">
        <div class="container splitting-inner">
            <h2 class="split-by-letter splitting__heading" data-initial-delay="2" data-delay="0.05">Splitting</h2>
            {% for feature in splitting %}
                <a style="--delay: 2.7s" href="{{feature.to}}" class="splitting__feature {{feature.class}}" data-delay="{{feature.delay}}">{{feature.content}}</a>
            {% endfor %}
        </div>
    </section>
    <section class="stagger-mode">
        <div class="container stagger-mode__inner">
            <h2 class="split-by-letter stagger-mode__inner">Stagger Modes</h2>
        </div>
    </section>
{% endblock %}