<header class="header">
    <div class="container header__inner">
        <a href="/" class="header__site-branding__outer"><h1 class="header__site-branding__inner split-by-letter" data-delay="0.05">Ultratype</h1></a>
        <nav class="header__navigation">
            <a class="header__navigation__link" href="/docs">Documentation</a>
            <a class="header__navigation__link" rel="noopener" href="https://github.com/frzrbox/ultratype" target="_blank">Github</a>
        </nav>
    </div>
</header>