@import url("https://use.typekit.net/ucw5ixt.css");

:root {
  --color-text: #333;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  color: var(--color-text);
}

body {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: droid-sans, sans-serif;
}

h1,
h2 {
  font-family: alverata, serif;
  font-weight: 700;
  font-style: normal;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

a.split-by-letter:hover .letter {
  animation: pulse 0.3s var(--delay) cubic-bezier(0.17, 0.84, 0.44, 1) both;
}

@keyframes pulse {
  0%,
  100% {
    transform: scale(1) rotateX(0);
  }
  50% {
    transform: scale(1.4) rotateX(40deg);
  }
}

.home-hero {
  padding: 5vh 0;
}

.home-hero__heading {
  font-size: clamp(50px, 10vw, 161px);
}

.home-hero__heading .letter {
  overflow: hidden;
  position: relative;
  animation: slideIn 0.6s var(--delay) cubic-bezier(0.17, 0.84, 0.44, 1) both;
  transform-origin: bottom;
}

.home-hero__link {
  font-size: 2rem;
}

@keyframes slideIn {
  from {
    transform: translate3D(0, 100%, 0) skew(20deg) scale(0);
  }
}

.test-fade .word {
  animation: fade 0.3s var(--delay) cubic-bezier(0.17, 0.84, 0.44, 1) both;
}

@keyframes fade {
  from {
    opacity: 0;
  }
}
