@import url("https://use.typekit.net/ucw5ixt.css");

:root {
  --color-text: #2e2e2e;
  --color-background: #fffffe;
  --color-headings: #181818;
  --color-light-accent: #f2eef5;
  --color-primary: #4fc4cf;
  --color-secondary: #994ff3;
  --color-tertiary: #fbdd74;
}

/* Global styles  */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  color: var(--color-text);
}

body {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: droid-sans, sans-serif;
}

h1,
h2 {
  font-family: alverata, serif;
  font-weight: 700;
  font-style: normal;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

/* Header styles  */

.header {
  padding: 20px 0;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__site-branding__inner {
  margin: 0;
}

.header__site-branding__inner:hover .letter {
  animation: pulse 0.4s var(--delay) linear infinite;
}

.header__navigation__link:not(:last-child) {
  margin-right: 20px;
}

/* Home Hero  */
.home-hero {
  padding: 5vh 0;
}

.home-hero__heading {
  font-size: clamp(50px, 10vw, 161px);
}

.home-hero__heading .letter {
  animation: slideIn 0.6s var(--delay) cubic-bezier(0.17, 0.84, 0.44, 1) both;
  transform-origin: bottom;
}

.home-hero__subheading {
  font-size: clamp(18px, 2.5vw, 30px);
  padding: 15px 35px;
  background: var(--color-text);
  border-radius: 10px;
  width: fit-content;
  animation: fade 0.5s 1s both;
  font-weight: 400;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.home-hero__subheading .word {
  color: var(--color-light-accent);
  animation: flipUp 0.2s var(--delay) cubic-bezier(0.17, 0.84, 0.44, 1) both;
  transform-origin: bottom;
}

.home-hero__link {
  display: block;
  font-size: 2rem;
  margin: 0.5em 0;
  width: fit-content;
}

.home-hero__link .letter {
  animation: fade 0.2s var(--delay) cubic-bezier(0.17, 0.84, 0.44, 1) both;
}

@keyframes slideIn {
  0% {
    transform: translate3D(0, 100%, 0) skew(20deg) scale(0);
    color: var(--color-primary);
  }
  33% {
    color: var(--color-primary);
  }
  66% {
    color: var(--color-secondary);
  }
  99% {
    color: var(--color-tertiary);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
}

@keyframes pulse {
  0%,
  100% {
    transform: rotateX(0);
  }
  50% {
    transform: rotateX(60deg);
  }
}

@keyframes flipUp {
  from {
    transform: scaleY(0);
  }
}
