h2:first-of-type {
	margin-top: 0;
}

.docs__navigation {
	position: fixed;
	top: 0;
	right: 0;
	transform: translate3d(100%, 0, 0);
	transition: all 0.5s cubic-bezier(0.17, 0.84, 0.44, 1);
	padding: var(--header-height);
	background: var(--color-background);
}

.docs__navigation.active {
	transform: translate3d(0, 0, 0);
	transition: all 0.3s cubic-bezier(0.17, 0.84, 0.44, 1);
}

.docs__close-nav {
	margin-bottom: 15px;
}

.docs__open-nav {
	position: fixed;
	top: var(--header-height);
	right: 5%;
}

.docs__navigation__category:not(:first-of-type) {
	margin: 20px 0 10px 0;
}

.docs__navigation__link {
	display: block;
	margin-bottom: 5px;
}

.docs__inner {
	min-height: 100vh;
	padding-bottom: 10vh;
}

.docs__inner > * {
	font-size: 1.25em;
	line-height: 1.5;
}

.docs__inner h2 {
	font-size: 2.2em;
}

.docs__inner h3 {
	font-size: 1.75;
}

pre {
	--color-text: var(--color-primary);
	width: fit-content;
}

@media (min-width: 1024px) {
	.docs__open-nav,
	.docs__close-nav {
		display: none;
	}

	.docs {
		display: grid;
		grid-template-columns: auto 1fr;
		grid-gap: 50px;
		min-height: 100vh;
	}

	.docs__navigation {
		position: -webkit-sticky;
		position: sticky;
		align-self: flex-start;
		top: 0;
		padding: 0;
		transform: translate3d(0, 0, 0);
	}
}
