section {
	padding: 5vh 0;
}

.section-heading {
	font-size: clamp(24px, 3.4vw, 50px);
}

.section-heading .letter {
	animation: fade 0.3s var(--delay) cubic-bezier(0.17, 0.84, 0.44, 1) both;
	animation-play-state: paused;
}

.section-heading[data-state='in-view'] .letter {
	animation-play-state: running;
}

/* Hero  */
.home-hero__heading {
	font-size: clamp(36px, 10vw, 161px);
}

.home-hero__heading .letter {
	animation: slideIn 0.6s var(--delay) cubic-bezier(0.17, 0.84, 0.44, 1) both;
	transform-origin: bottom;
}

/* Splitting  */
.splitting {
	padding: 5vh 0;
}

.splitting__heading .letter {
	--color-text: var(--color-secondary);
}

.splitting__feature {
	font-size: clamp(40px, 10vw, 120px);
	cursor: pointer;
}

.splitting__feature:hover {
	text-decoration: none;
}

.splitting__feature:hover .letter,
.splitting__feature:hover .word {
	--color-text: var(--color-tertiary);
}

.splitting__feature {
	display: block;
	width: fit-content;
	margin: 50px 0;
	font-family: var(--font-heading);
	animation: fade 0.45s linear both;
	animation-play-state: paused;
}

.splitting__feature[data-state='in-view'] {
	animation-play-state: running;
}

.splitting__feature:hover .letter {
	animation: fadeAndRotate 2.2s var(--delay)
		cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite both;
}

.splitting__feature:hover .word {
	animation: spinSidewards 0.9s var(--delay) cubic-bezier(0.17, 0.84, 0.44, 1)
		infinite both;
}

@keyframes fadeAndRotate {
	70% {
		transform: rotate3d(2, -1, -1, -2turn);
		perspective: 1000;
	}
}

@keyframes spinSidewards {
	20% {
		transform: rotateY(90deg);
	}
}
