section {
	padding: 15vh 0;
}

.section-heading {
	margin-top: 0;
	font-size: clamp(24px, 3.4vw, 50px);
	font-family: var(--font-body);
}

.section-heading .letter {
	animation: fade 0.3s var(--delay) cubic-bezier(0.17, 0.84, 0.44, 1) both;
	animation-play-state: paused;
	--color-text: var(--color-secondary);
}

.section-heading[data-state='in-view'] .letter {
	animation-play-state: running;
}

/* Hero  */
.home-hero {
	padding: 0;
	height: calc(100vh - var(--header-height));
	display: flex;
	justify-content: center;
	align-items: center;
}

.home-hero__heading {
	margin: 0;
	font-size: clamp(36px, 10vw, 161px);
}

.home-hero__heading .letter {
	animation: slideIn 0.6s var(--delay) cubic-bezier(0.17, 0.84, 0.44, 1) both;
	transform-origin: bottom;
}

/* About */

.about__line {
	font-size: clamp(1.2rem, 4vw, 4rem);
	margin: 0;
}

.about__line .word {
	animation: scaleIn 0.6s var(--delay) cubic-bezier(0.17, 0.84, 0.44, 1) both;
	animation-play-state: paused;
	font-family: var(--font-heading);
	transform-origin: bottom;
}

.about__line-container[data-state='in-view'] .about__line .word {
	animation-play-state: running;
}

@keyframes scaleIn {
	from {
		opacity: 0;
		transform: skewX(30deg) translate3d(-10%, 0, 0);
	}
}
